<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="./src/css/styles.css" />
</head>
<body>
    <section id="covers-section">
        <h2 class="covers-visually-hidden">Covers</h2>
        <div class="covers-content">
            <div class="covers-marquee">
                <ul class="covers-marquee__inner">
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 1 1x.jpg"
                            srcset="../img/covers/Rectangle 1 1x.jpg 1x, ../img/covers/Rectangle 1 2x.jpg 2x"
                            alt="Rectangle 1" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 10 1x.jpg"
                            srcset="../img/covers/Rectangle 10 1x.jpg 1x, ../img/covers/Rectangle 10 2x.jpg 2x"
                            alt="Rectangle 10" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 11 1x.jpg"
                            srcset="../img/covers/Rectangle 11 1x.jpg 1x, ../img/covers/Rectangle 11 2x.jpg 2x"
                            alt="Rectangle 11" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 12 1x.jpg"
                            srcset="../img/covers/Rectangle 12 1x.jpg 1x, ../img/covers/Rectangle 12 2x.jpg 2x"
                            alt="Rectangle 12" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 9 1x.jpg"
                            srcset="../img/covers/Rectangle 9 1x.jpg 1x, ../img/covers/Rectangle 9 2x.jpg 2x"
                            alt="Rectangle 9" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 8 1x.jpg"
                            srcset="../img/covers/Rectangle 8 1x.jpg 1x, ../img/covers/Rectangle 8 2x.jpg 2x"
                            alt="Rectangle 8" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 7 1x.jpg"
                            srcset="../img/covers/Rectangle 7 1x.jpg 1x, ../img/covers/Rectangle 7 2x.jpg 2x"
                            alt="Rectangle 7" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 6 1x.jpg"
                            srcset="../img/covers/Rectangle 6 1x.jpg 1x, ../img/covers/Rectangle 6 2x.jpg 2x"
                            alt="Rectangle 6" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 5 1x.jpg"
                            srcset="../img/covers/Rectangle 5 1x.jpg 1x, ../img/covers/Rectangle 5 2x.jpg 2x"
                            alt="Rectangle 5" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 4 1x.jpg"
                            srcset="../img/covers/Rectangle 4 1x.jpg 1x, ../img/covers/Rectangle 4 2x.jpg 2x"
                            alt="Rectangle 4" /></li>
                </ul>
                <ul class="covers-marquee__inner">
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 5 1x.jpg"
                            srcset="../img/covers/Rectangle 5 1x.jpg 1x, ../img/covers/Rectangle 5 2x.jpg 2x"
                            alt="Rectangle 5" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 8 1x.jpg"
                            srcset="../img/covers/Rectangle 8 1x.jpg 1x, ../img/covers/Rectangle 8 2x.jpg 2x"
                            alt="Rectangle 8" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 4 1x.jpg"
                            srcset="../img/covers/Rectangle 4 1x.jpg 1x, ../img/covers/Rectangle 4 2x.jpg 2x"
                            alt="Rectangle 4" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 6 1x.jpg"
                            srcset="../img/covers/Rectangle 6 1x.jpg 1x, ../img/covers/Rectangle 6 2x.jpg 2x"
                            alt="Rectangle 6" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 5 1x.jpg"
                            srcset="../img/covers/Rectangle 5 1x.jpg 1x, ../img/covers/Rectangle 5 2x.jpg 2x"
                            alt="Rectangle 5" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 4 1x.jpg"
                            srcset="../img/covers/Rectangle 4 1x.jpg 1x, ../img/covers/Rectangle 4 2x.jpg 2x"
                            alt="Rectangle 4" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 1 1x.jpg"
                            srcset="../img/covers/Rectangle 1 1x.jpg 1x, ../img/covers/Rectangle 1 2x.jpg 2x"
                            alt="Rectangle 1" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 10 1x.jpg"
                            srcset="../img/covers/Rectangle 10 1x.jpg 1x, ../img/covers/Rectangle 10 2x.jpg 2x"
                            alt="Rectangle 10" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 11 1x.jpg"
                            srcset="../img/covers/Rectangle 11 1x.jpg 1x, ../img/covers/Rectangle 11 2x.jpg 2x"
                            alt="Rectangle 11" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 12 1x.jpg"
                            srcset="../img/covers/Rectangle 12 1x.jpg 1x, ../img/covers/Rectangle 12 2x.jpg 2x"
                            alt="Rectangle 12" /></li>
                </ul>
                <ul class="covers-marquee__inner">
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 6 1x.jpg"
                            srcset="../img/covers/Rectangle 6 1x.jpg 1x, ../img/covers/Rectangle 6 2x.jpg 2x"
                            alt="Rectangle 6" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 1 1x.jpg"
                            srcset="../img/covers/Rectangle 1 1x.jpg 1x, ../img/covers/Rectangle 1 2x.jpg 2x"
                            alt="Rectangle 1" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 5 1x.jpg"
                            srcset="../img/covers/Rectangle 5 1x.jpg 1x, ../img/covers/Rectangle 5 2x.jpg 2x"
                            alt="Rectangle 5" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 9 1x.jpg"
                            srcset="../img/covers/Rectangle 9 1x.jpg 1x, ../img/covers/Rectangle 9 2x.jpg 2x"
                            alt="Rectangle 9" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 8 1x.jpg"
                            srcset="../img/covers/Rectangle 8 1x.jpg 1x, ../img/covers/Rectangle 8 2x.jpg 2x"
                            alt="Rectangle 8" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 7 1x.jpg"
                            srcset="../img/covers/Rectangle 7 1x.jpg 1x, ../img/covers/Rectangle 7 2x.jpg 2x"
                            alt="Rectangle 7" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 10 1x.jpg"
                            srcset="../img/covers/Rectangle 10 1x.jpg 1x, ../img/covers/Rectangle 10 2x.jpg 2x"
                            alt="Rectangle 10" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 11 1x.jpg"
                            srcset="../img/covers/Rectangle 11 1x.jpg 1x, ../img/covers/Rectangle 11 2x.jpg 2x"
                            alt="Rectangle 11" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 12 1x.jpg"
                            srcset="../img/covers/Rectangle 12 1x.jpg 1x, ../img/covers/Rectangle 12 2x.jpg 2x"
                            alt="Rectangle 12" /></li>
                    <li class="covers-marquee__line"><img src="../img/covers/Rectangle 6 1x.jpg"
                            srcset="../img/covers/Rectangle 6 1x.jpg 1x, ../img/covers/Rectangle 6 2x.jpg 2x"
                            alt="Rectangle 6" /></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>