<section id="covers-section">
        <h2 class="covers-visually-hidden">Covers</h2>
        <div class="covers-content">
        <div class="covers-marquee">
        <ul class="covers-marquee__inner">
        <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle4_1x.jpg 1x, 
                ./img/Rectangle4_2x.jpg 2x" 
                src="./img/Rectangle4_1x.jpg" 
                alt="Rectangle 4" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle10_1x.jpg 1x, 
                ./img/Rectangle10_2x.jpg 2x" 
                src="./img/Rectangle10_1x.jpg" 
                alt="Rectangle 10" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle11_1x.jpg 1x, 
                ./img/Rectangle11_2x.jpg 2x" 
                src="./img/Rectangle11_1x.jpg" 
                alt="Rectangle 11" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle12_1x.jpg 1x, 
                ./img/Rectangle12_2x.jpg 2x" 
                src="./img/Rectangle12_1x.jpg" 
                alt="Rectangle 12" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle9_1x.jpg 1x, 
                ./img/Rectangle9_2x.jpg 2x" 
                src="./img/Rectangle9_1x.jpg" 
                alt="Rectangle 9" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle8_1x.jpg 1x, 
                ./img/Rectangle8_2x.jpg 2x" 
                src="./img/Rectangle8_1x.jpg" 
                alt="Rectangle 8" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle7_1x.jpg 1x, 
                ./img/Rectangle7_2x.jpg 2x" 
                src="./img/Rectangle7_1x.jpg" 
                alt="Rectangle 7" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle6_1x.jpg 1x, 
                ./img/Rectangle6_2x.jpg 2x" 
                src="./img/Rectangle6_1x.jpg" 
                alt="Rectangle 6" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle5_1x.jpg 1x, 
                ./img/Rectangle5_2x.jpg 2x" 
                src="./img/Rectangle5_1x.jpg" 
                alt="Rectangle 5" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle4_1x.jpg 1x, 
                ./img/Rectangle4_2x.jpg 2x" 
                src="./img/Rectangle4_1x.jpg" 
                alt="Rectangle 4" 
                width="544"
                height="314">
                </li>
                </ul>
                <ul class="covers-marquee__inner">
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle5_1x.jpg 1x, 
                ./img/Rectangle5_2x.jpg 2x" 
                src="./img/Rectangle5_1x.jpg"
                alt="Rectangle 5" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle8_1x.jpg 1x, 
                ./img/Rectangle8_2x.jpg 2x" 
                src="./img/Rectangle8_1x.jpg"
                alt="Rectangle 8" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle4_1x.jpg 1x, 
                ./img/Rectangle4_2x.jpg 2x" 
                src="./img/Rectangle4_1x.jpg"
                alt="Rectangle 4" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle6_1x.jpg 1x, 
                ./img/Rectangle6_2x.jpg 2x" 
                src="./img/Rectangle6_1x.jpg"
                alt="Rectangle 6" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle5_1x.jpg 1x, 
                ./img/Rectangle5_2x.jpg 2x" 
                src="./img/Rectangle5_1x.jpg"
                alt="Rectangle 5" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle4_1x.jpg 1x, 
                ./img/Rectangle4_2x.jpg 2x" 
                src="./img/Rectangle4_1x.jpg"
                alt="Rectangle 4" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle7_1x.jpg 1x, 
                ./img/Rectangle7_2x.jpg 2x" 
                src="./img/Rectangle7_1x.jpg"
                alt="Rectangle 7" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle10_1x.jpg 1x, 
                ./img/Rectangle10_2x.jpg 2x" 
                src="./img/Rectangle10_1x.jpg" 
                alt="Rectangle 10" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle11_1x.jpg 1x, 
                ./img/Rectangle11_2x.jpg 2x" 
                src="./img/Rectangle11_1x.jpg"
                alt="Rectangle 11" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle12_1x.jpg 1x, 
                ./img/Rectangle12_2x.jpg 2x" 
                src="./img/Rectangle12_1x.jpg" 
                alt="Rectangle 12" 
                width="544"
                height="314">
                </li>
                </ul>
                <ul class="covers-marquee__inner">
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle6_1x.jpg 1x, 
                ./img/Rectangle6_2x.jpg 2x"
                src="./img/Rectangle6_1x.jpg" 
                alt="Rectangle 6" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle12_1x.jpg 1x, 
                ./img/Rectangle12_2x.jpg 2x" 
                src="./img/Rectangle12_1x.jpg"
                alt="Rectangle 4" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle5_1x.jpg 1x, 
                ./img/Rectangle5_2x.jpg 2x" 
                src="./img/Rectangle5_1x.jpg"
                alt="Rectangle 5" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle9_1x.jpg 1x, 
                ./img/Rectangle9_2x.jpg 2x" 
                src="./img/Rectangle9_1x.jpg"
                alt="Rectangle 9" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle8_1x.jpg 1x, 
                ./img/Rectangle8_2x.jpg 2x" 
                src="./img/Rectangle8_1x.jpg"
                alt="Rectangle 8" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle7_1x.jpg 1x, 
                ./img/Rectangle7_2x.jpg 2x" 
                src="./img/Rectangle7_1x.jpg"
                alt="Rectangle 7" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle10_1x.jpg 1x, 
                ./img/Rectangle10_2x.jpg 2x" 
                src="./img/Rectangle10_1x.jpg" 
                alt="Rectangle 10" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle11_1x.jpg 1x, 
                ./img/Rectangle11_2x.jpg 2x" 
                src="./img/Rectangle11_1x.jpg"
                alt="Rectangle 11" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle12_1x.jpg 1x, 
                ./img/Rectangle12_2x.jpg 2x" 
                src="./img/Rectangle12_1x.jpg"
                alt="Rectangle 12" 
                width="544"
                height="314">
                </li>
                <li class="covers-marquee__line">
                <img srcset="
                ./img/Rectangle6_1x.jpg 1x, 
                ./img/Rectangle6_2x.jpg 2x" 
                src="./img/Rectangle6_1x.jpg"
                alt="Rectangle 6" 
                width="544"
                height="314">
                </li>
                </ul>
                
        </div>
        </div>
</section>
