<footer class="footer" id="work-together">
  <div class="container footer-container">
    <div class="footer-top">
      <img
        class="header-img-logo"
        src="./img/header/img-logo.png"
        alt="img-logo"
        height="80"
      />
      <!-- <img
        class="footer-image"
        srcset="
          ../img/footer/imagedesktop_1x.png  1x,
          ../img/footer/imagedesktop_2x.png 2x
        "
        src="./img/footer/imagedesktop_1x.png"
        alt="Djefferson Photo"
        loading="lazy"
      /> -->
      <h2 class="footer-title">Let's <span class="title-accent">work</span></h2>
      <h2 class="footer-title">together</h2>
    </div>
    <form class="footer-form">
      <input
        class="footer-form-input"
        id="user-email"
        type="email"
        name="e-mail"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        autocomplete="off"
        aria-label="Email"
      />
      <input
        class="footer-form-input"
        id="user-comment"
        type="text"
        name="comments"
        placeholder="comments"
        autocomplete="off"
        aria-label="Comments"
      />
      <button
        class="footer-form-btn"
        id="form-btn"
        type="submit"
        aria-label="submit form"
      >
        Send
      </button>
    </form>
    <address class="footer-bottom">
      <ul class="contacts">
        <li class="contacts-item contacts-mail">
          <a
            class="contacts-link"
            href="mailto:lloydjefferson@gmail.com"
            rel="noopener
            noreferrer"
            aria-label="Email Lloyd Jefferson"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contacts-item contacts-phone">
          <a
            class="contacts-link"
            href="tel:+3801111111111"
            rel="noopener
            noreferrer"
            aria-label="Call Lloyd Jefferson"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
      <!-- <script>
        document.querySelectorAll('a').forEach(link => {
          link.innerHTML = link.innerText
            .split('')
            .map((letters, idx) => {
              if (letters === ' ') {
                return ' ';
              } else {
                return `<span style="transition-delay:${
                  idx * 25
                }ms">${letters}</span>`;
              }
            })
            .join('');
        });
      </script> -->
    </address>
  </div>
</footer>

<!-- Modal -->

<div class="footer-backdrop">
  <div class="modal">
    <div class="modal-box">
      <button class="close-btn" type="button" aria-label="close modal">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18 6L6 18"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="#FAFAFA"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
      <p class="modal-message">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
<!-- <script src="./js/footer.js"></script> -->
