<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a
        href="./index.html"
        aria-label="logo-portfolio"
        class="header-logo-link"
      >
        <img
          class="header-img-logo"
          src="./img/header/img-logo.png"
          alt="img-logo"
          height="80"
        />
        <svg class="header-text-logo" width="84" height="19">
          <use href="./img/symbol-defs.svg#icon-jefferson"></use>
        </svg>
      </a>
      <div class="header-menu">
        <p class="header-menu-text">Menu</p>
        <ul class="header-menu-list">
          <li class="header-nav-item">
            <a href="#about-me" class="header-nav-link">About me</a>
          </li>
          <li class="header-nav-item">
            <a href="#benefits" class="header-nav-link">Benefits</a>
          </li>
          <li class="header-nav-item">
            <a href="#projects" class="header-nav-link">Projects</a>
          </li>
          <li class="header-nav-item">
            <a href="#faq" class="header-nav-link">FAQ</a>
          </li>
        </ul>
      </div>
      <a
        href="#work-together"
        aria-label="button order"
        class="header-order-link"
        ><button class="header-order-btn">Order the project</button></a
      >
      <!-- btn mob -->
      <button
        class="header-btn-mob"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile menu open"
      >
        <svg class="header-btn-mob-icon" width="28" height="28">
          <use href="./img/symbol-defs.svg#icon-up"></use>
        </svg>
      </button>

      <!-- btn mob -->
    </nav>
  </div>

  <!-- modal-menu -->

  <div class="header-backdrop">
    <div class="header-modal-menu">
      <button
        class="header-modal-menu-close"
        type="button"
        aria-label="button mobile menu close"
      >
        <svg class="header-modal-menu-close-icon" width="14" height="14">
          <use href="./img/symbol-defs.svg#icon-down"></use>
        </svg>
      </button>
      <nav class="header-modal-menu-nav">
        <ul class="header-modal-menu-list">
          <li class="header-modal-menu-item">
            <a href="#about-me" class="header-modal-menu-link">About me</a>
          </li>
          <li class="header-modal-menu-item">
            <a href="#benefits" class="header-modal-menu-link">Benefits</a>
          </li>
          <li class="header-modal-menu-item">
            <a href="#projects" class="header-modal-menu-link">Projects</a>
          </li>
          <li class="header-modal-menu-item">
            <a href="#faq" class="header-modal-menu-link">FAQ</a>
          </li>
        </ul>
      </nav>
      <a
        href="#work-together"
        aria-label="button order"
        class="header-modal-order-link"
        ><button class="header-modal-order-btn">Order the project</button></a
      >
    </div>
  </div>
</header>
