<section class="hero">
    <div class="container">
        <div class="content-hero">
            <div class="box-for-title">
                <h1 class="hero-title">Hello.
                    I'm Fullstack developer
                    Lloyd Jefferson.</h1>
            </div>


            <ul class="hero-social-media-list">
                <li><a class="hero-social-media-link" href="https://www.instagram.com/goitclub/" target="_blank">
                        IG
                    </a></li>
                <li><a class="hero-social-media-link" href="https://www.facebook.com/goITclub/" target="_blank">
                        FB
                    </a></li>
                <li><a class="hero-social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                        YT
                    </a></li>
                <li><a class="hero-social-media-link" href="https://github.com/AndriyGoncharuk/gr06-project-js" target="_blank">
                        GH
                    </a></li>
                <li><a class="hero-social-media-link address-link"
                        href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a></li>
            </ul>
        </div>
    </div>
</section>