
<section class="container">
    <div class="hero">
        <h1 class="title">Hello.
        I’m Fullstack developer
        Lloyd Jefferson.</h1>

        <ul class="hero-social-media-list">
            <li class="hero-social-media-item">
                <a href="" class="hero-social-media-link">IG</a>
            </li>
            <li class="hero-social-media-item">
                <a href="" class="hero-social-media-link">FB</a>
            </li>
            <li class="hero-social-media-item">
                <a href="" class="hero-social-media-link">YT</a>
            </li>
            <li class="hero-social-media-item">
                <a href="" class="hero-social-media-link">GH</a>
            </li>
            <li class="hero-social-media-item">
                <a href="" class="hero-social-media-link address-link">lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>

