<section class="projects-section" aria-label="Секція проектів">  
    <div class="container">
            <h2 class="projects-title">Projects</h2> 
            <!-- Slider main container -->
            <div class="projects-swiper-container">
                <!-- Additional required wrapper -->
                <div class="projects swiper-wrapper">
                    <div class="projects swiper-slide">
                        <div class="description-content">
                            <ul class="technologies" aria-label="Список технологій">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://andriygoncharuk.github.io/gr06-project-js/" target="_blank" rel="noopener noreferrer" class="btn-project" aria-label="Переглянути проект Programming Across Borders">See project</a>
                        </div>
                        <div class="project-content">
                            <picture class="project-picture">
                                <!-- desk -->
                                <source
                                media="(min-width: 1440px)"
                                srcset="
                                    ./img/project_1x_1.jpg 1x,
                                    ./img/project_2x_1.jpg 2x 
                                "
                                />

                                <!-- tab -->
                                <source
                                media="(min-width: 768px)"
                                srcset="
                                ./img/project_1x_1.jpg 1x,
                                ./img/project_2x_1.jpg 2x
                                "
                                />
                                <!-- mob -->
                                <source
                                media="(max-width: 767px)"
                                srcset="
                                ./img/project_mobile_1x_1.jpg 1x,
                                ./img/project_mobile_2x_1.jpg 2x
                                "
                                />
                                <img
                                class="project-pic"
                                src="./img/project_mobile_1x_1.jpg"
                                alt="Project 1"
                                width="311"
                                height="195"
                                />
                            </picture> 
                        </div>
                    </div>
                    <div class="projects swiper-slide">
                        <div class="description-content">
                            <ul class="technologies" aria-label="Список технологій">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://andriygoncharuk.github.io/gr06-project-js/" target="_blank" rel="noopener noreferrer" class="btn-project" aria-label="Переглянути проект Programming Across Borders">See project</a>
                        </div>
                        <div class="project-content">
                            <picture class="project-picture">
                                <!-- desk -->
                                <source
                                media="(min-width: 1440px)"
                                srcset="
                                    ./img/project_1x_2.jpg 1x,
                                    ./img/project_2x_2.jpg 2x
                                "
                                />
                                <!-- tab -->
                                <source
                                media="(min-width: 768px)"
                                srcset="
                                ./img/project_1x_2.jpg 1x,
                                ./img/project_2x_2.jpg 2x
                                "
                                />
                                <!-- mob -->
                                <source
                                media="(max-width: 767px)"
                                srcset="
                                ./img/project_mobile_1x_2.jpg 1x,
                                ./img/project_mobile_2x_2.jpg 2x
                                "
                                />
                                <img
                                class="project-pic"
                                src="./img/project_mobile_1x_2.jpg"
                                alt="Project 2"
                                width="311"
                                height="195"
                                />
                            </picture>
                        </div>
                    </div>
                    <div class="projects swiper-slide">
                        <div class="description-content">
                            <ul class="technologies" aria-label="Список технологій">
                                <li>#react</li>
                                <li>#js</li>
                                <li>#node js</li>
                                <li>#git</li>
                            </ul>
                            <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                            <a href="https://andriygoncharuk.github.io/gr06-project-js/" target="_blank" rel="noopener noreferrer" class="btn-project" aria-label="Переглянути проект Programming Across Borders">See project</a>
                        </div>
                        <div class="project-content">
                            <picture class="project-picture">
                                <!-- desk -->
                                <source
                                media="(min-width: 1440px)"
                                srcset="
                                    ./img/project_1x_3.jpg 1x,
                                    ./img/project_2x_3.jpg 2x 
                                "
                                />
                                <!-- tab -->
                                <source
                                media="(min-width: 768px)"
                                srcset="
                                ./img/project_1x_3.jpg 1x,
                                ./img/project_2x_3.jpg 2x
                                "
                                />
                                <!-- mob -->
                                <source
                                media="(max-width: 767px)"
                                srcset="
                                ./img/project_mobile_1x_3.jpg 1x,
                                ./img/project_mobile_2x_3.jpg 2x
                                "
                                />
                                <img
                                class="project-pic"
                                src="./img/project_mobile_1x_3.jpg "
                                alt="Project 3"
                                width="311"
                                height="195"
                                />
                            </picture>
                        </div>
                    </div>         
                </div>


                <!-- If we need navigation buttons -->
                
                <div class="projects-swiper-buttons">
                    <button class="projects-button-prev" tabindex="0" aria-label="Попередній слайд">
                        <svg class="projects-icon">
                            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="projects-button-next" tabindex="0" aria-label="Наступний слайд">
                        <svg class="projects-icon">
                            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
    </div>   
</section> 

       
