<section class="projects-section">  
            <h2 class="projects-title">Projects</h2> 
            <!-- Slider main container -->
            <div class="projects-swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="project-content-wrapper"> 
                            <div class="description-content">
                                <ul class="technologies">
                                    <li>#react</li>
                                    <li>#js</li>
                                    <li>#node js</li>
                                    <li>#git</li>
                                </ul>
                                <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                <button type="button" class="btn-project">See project</button>
                            </div>
                            <div class="project-content">
                                <picture class="project-picture">
                                    <!-- desk -->
                                    <source
                                    media="(min-width: 1440px)"
                                    srcset="
                                        ./img/project_1x_1.jpg,
                                        ./img/project_2x_1.jpg 
                                    "
                                    />

                                    <!-- tab -->
                                    <source
                                    media="(min-width: 768px)"
                                    srcset="
                                    ./img/project_1x_1.jpg,
                                    ./img/project_2x_1.jpg
                                    "
                                    />
                                    <!-- mob -->
                                    <source
                                    media="(max-width: 767px)"
                                    srcset="
                                    ./img/project_mobile_1x_1.jpg,
                                    ./img/project_mobile_2x_1.jpg
                                    "
                                    />
                                    <img
                                    class="project-pic"
                                    src="./img/project_mobile_1x_1.jpg"
                                    alt="Project 1"
                                    width="311"
                                    height="195"
                                    />
                                </picture> 
                            </div>
                        </div>                
                    </div>
                    <div class="swiper-slide">
                        <div class="project-content-wrapper"> 
                            <div class="description-content">
                                <ul class="technologies">
                                    <li>#react</li>
                                    <li>#js</li>
                                    <li>#node js</li>
                                    <li>#git</li>
                                </ul>
                                <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                <button type="button" class="btn-project">See project</button>
                            </div>
                            <div class="project-content">
                                <picture class="project-picture">
                                    <!-- desk -->
                                    <source
                                    media="(min-width: 1440px)"
                                    srcset="
                                        ./img/project_1x_2.jpg,
                                        ./img/project_2x_2.jpg
                                    "
                                    />
                                    <!-- tab -->
                                    <source
                                    media="(min-width: 768px)"
                                    srcset="
                                    ./img/project_1x_2.jpg,
                                    ./img/project_2x_2.jpg
                                    "
                                    />
                                    <!-- mob -->
                                    <source
                                    media="(max-width: 767px)"
                                    srcset="
                                    ./img/project_mobile_1x_2.jpg,
                                    ./img/project_mobile_2x_2.jpg
                                    "
                                    />
                                    <img
                                    class="project-pic"
                                    src="./img/project_mobile_1x_2.jpg"
                                    alt="Project 2"
                                    width="311"
                                    height="195"
                                    />
                                </picture>
                            </div>
                        </div>                
                    </div>
                    <div class="swiper-slide">
                        <div class="project-content-wrapper"> 
                            <div class="description-content">
                                <ul class="technologies">
                                    <li>#react</li>
                                    <li>#js</li>
                                    <li>#node js</li>
                                    <li>#git</li>
                                </ul>
                                <p class="project-name">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                <button type="button" class="btn-project">See project</button>
                            </div>
                            <div class="project-content">
                                <picture class="project-picture">
                                    <!-- desk -->
                                    <source
                                    media="(min-width: 1440px)"
                                    srcset="
                                        ./img/project_1x_3.jpg,
                                        ./img/project_2x_3.jpg 
                                    "
                                    />
                                    <!-- tab -->
                                    <source
                                    media="(min-width: 768px)"
                                    srcset="
                                    ./img/project_1x_3.jpg,
                                    ./img/project_2x_3.jpg
                                    "
                                    />
                                    <!-- mob -->
                                    <source
                                    media="(max-width: 767px)"
                                    srcset="
                                    ./img/project_mobile_1x_3.jpg,
                                    ./img/project_mobile_2x_3.jpg
                                    "
                                    />
                                    <img
                                    class="project-pic"
                                    src="./img/project_mobile_1x_3.jpg "
                                    alt="Project 3"
                                    width="311"
                                    height="195"
                                    />
                                </picture>
                            </div>
                        </div>
                    
                    </div>         
                </div>


                <!-- If we need navigation buttons -->
                
                <div class="projects-swiper-buttons">
                    <button class="projects-button-prev" tabindex="0">
                        <svg class="projects-icon">
                            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="projects-button-next" tabindex="0">
                        <svg class="projects-icon">
                            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </section> 

       
